@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl
    font-title;
  }
  h2 {
    @apply text-2xl
    font-title;
  }
  h3 {
    @apply text-lg
  }
}

@layer components {
  .nav-link {
    @apply text-black
    hover:bg-primary hover:text-white
    px-3
    py-2
    mb-2
    rounded-md
    text-sm
    font-medium;
  }
  .fa {
    @apply transform scale-110
    hover:text-primary
    hover:-translate-y-0 hover:scale-125
   transition ease-in-out duration-700;
  }
}
